[Desktop Entry]
Encoding=UTF-8
Name=Link to Messages
Type=Link
URL=https://www.facebook.com/vineet.shah.334/posts/833718090060962?comment_id=833801610052610&notif_t=mentions_comment&notif_id=1472925749714158#
Icon=text-html
